@keyframes rotateCube {
    0% {transform: rotateX(0deg) rotateY(0deg);}
    100% {transform: rotateX(360deg) rotateY(360deg);}
}

.front,.back,.top,.bottom,.left,.right {
width: 500px;
height: 500px;
}
.front {
    background-color: rgb(200, 200, 200);
    position: absolute;
    transform: translateZ(250px);
}
.back {
    background-color: rgb(180, 180, 180);
    position: absolute;
    transform: translateZ(-250px);
}
.top {
    background-color: rgb(160, 160, 160);
    position: absolute;
    transform:  translateY(-250px) rotateX(90deg);

}
.bottom {
    background-color: rgb(140, 140, 140);
    position: absolute;
    transform: translateY(250px) rotateX(-90deg);

}
.left {
    background-color: rgb(120, 120, 120);
    position: absolute;
    transform: translateX(-250px) rotateY(-90deg);

}
.right {
    background-color: rgb(100, 100, 100);
    position: absolute;
    transform:translateX(250px) rotateY(90deg);

}

.container {
    transform-style: preserve-3d;
    position: relative;
    width: 500px;
    height: 500px;
    animation: rotateCube 10s infinite linear;
}

.scene {
  perspective: 1000px;
  width: 500px;
  height: 500px;
  margin: 40px auto;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(30deg, rgb(0, 0, 24), rgb(35, 0, 24));
    height: 100vh;
    overflow-y: hidden;
}