* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body,html {
    background: rgb(255, 235, 170)
    url(https://grainy-gradients.vercel.app/noise.svg);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 50vw;
    background: rgb(152, 85, 3)
    url(https://grainy-gradients.vercel.app/noise.svg);
    border-radius: 0;
    border-radius: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
    height: 87vh;
    width: 48vw;
    background:rgb(124, 200, 255);
    border-radius: 20px;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.section3 {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.task {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    padding-top: 3px;
 
    font-size: 1em;
    height: auto;
    min-height: 34%;
    width: auto;
    min-width: 14%;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 196, 0) 60%, rgb(255, 115, 0) 90%)
}
.task:active {
    background-image: linear-gradient(rgb(235, 176, 0) 60%, rgb(255, 115, 0) 90%)
}
.task:hover {
    cursor: pointer;
}
h1 {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}


.newTask {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.873);
    border-radius: 25px;
    margin-bottom: 1em;
}
.paragraph,.checkbox,.delete {
    display: flex;
    margin: 1.5em;
    align-items: center;
    justify-content: center;

}

.delete {
    border: none;
    color: blue;
    background: transparent;
}
.delete:hover {
    cursor: pointer;
}
.input {
    display: flex;
    text-align: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 26px;
    width: 50%;
    height: 40%;
    margin: 2em 4em;
}


.completed {
    text-decoration: line-through;
    color: gray;
}

.error {
    color: red;
}

.hidden {
    display: none;
}